$bg:#F3F6F9;
$border:#E4E7EB;
$text-alpha:#BBBBC1;
$text:#1B1C31;
$brand:#28338A;
$green:#90C156;
$green-alpha:#EEF8E3;
$red:#C6403F;
$red-alpha:#FCEEF2;
$yellow:#DEB028;
$yellow-alpha:#EEF8E3;

*{
    border: 0;
    text-shadow: none;
    text-decoration: none;
    outline: none;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background: $bg;
}
.body-erp{
    padding-left: 55px;
    position: relative;
    
    nav{
        position: fixed;
        left: 0;
        top: 0;
        padding: 15px 0;
        width: 55px;
        text-align: center;
        height: 100%;
        background: #fff;
        img{
            margin: auto;
            width: 40px;
        }
        .logout{
            position: fixed;
            bottom: 15px;
            width: 55px;
            left: 0;
            a{
                display: inline-block;
                text-decoration: none;
                text-align: center;
                &:hover{
                    i{
                        color: $yellow;
                    }
                }
                i{
                    color: #BBBBC1;
                    transform: rotate(90deg);
                    font-size: 20px;
                    position: relative;
                    display: block;
                }
            }
        }
        ul{
            display: inline-block;
            width: 100%;
            margin: 0 !important;
            padding: 0;
            margin-top: 20px !important;
            text-align: center;
            li{
                display: inline-block;
                width: 100%;
                padding: 15px 0;
                a{
                    text-decoration: none;
                    
                }
                i{
                    font-size: 22px;
                    color: $text-alpha;
                }
                &.active, &:hover{
                    a{
                        i{
                            color: $yellow;
                        }
                    }
                }
            }
        }
    }
}
.title-moulded{
    display: inline-block;
    width: 100%;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: $brand;
}

.body-dashboard{
    display: inline-block;
    width: 100%;
    padding: 15px 0;
    padding-top: 0;
}
.erp-moulded{
    background: white;
    border: 1px solid #E4E7EB;
    padding: 15px;
    position: relative;
    min-height: 75px;
    cursor: pointer;
    padding-left: 75px;
    margin-bottom: 20px;
    border-radius: 6px;
    padding-top: 22px;
    &:hover{
        box-shadow: 0px 0px 5px rgba(155, 155, 155, 0.25);
        border: 1px solid $text-alpha;
    }
    a{
        display: inline-block;
        width: 100%;
    }
    i{
        width: 55px;
        height: 55px;
        position: absolute;
        left: 10px;
        top: 9px;
        border-radius: 4px;
        font-size: 28px;
        color: white;
        background: #707393;
        text-align: center;
        padding-top: 6px;
    }
    label{
        color: $text;
        display: inline-block;
        width: 100%;
        line-height: 29px;
    }
}
.erp-slideinfor{
    display: inline-block;
    width: 100%;
    height: 110px;
    text-align: center;
    margin-bottom: 20px;
    background: #28338A;
    padding-bottom: 80px;
    img{
        width: 100%;
        height: 110px;
        object-fit: cover;
    }
    h1{
        font-size: 32px;
        display: inline-block;
        width: 100%;
        padding: 20px 0 10px 0;
        color: white;
        margin-bottom: 0;
    }
    p{
        font-size: 16px;
        display: inline-block;
        width: 100%;
        color: white;
        font-weight: normal;
    }
}
.body-erp-moulded{
    margin-bottom: 50px;
}