@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  border: 0;
  text-shadow: none;
  text-decoration: none;
  outline: none; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background: #F3F6F9; }

.body-erp {
  padding-left: 55px;
  position: relative; }
  .body-erp nav {
    position: fixed;
    left: 0;
    top: 0;
    padding: 15px 0;
    width: 55px;
    text-align: center;
    height: 100%;
    background: #fff; }
    .body-erp nav img {
      margin: auto;
      width: 40px; }
    .body-erp nav .logout {
      position: fixed;
      bottom: 15px;
      width: 55px;
      left: 0; }
      .body-erp nav .logout a {
        display: inline-block;
        text-decoration: none;
        text-align: center; }
        .body-erp nav .logout a:hover i {
          color: #DEB028; }
        .body-erp nav .logout a i {
          color: #BBBBC1;
          transform: rotate(90deg);
          font-size: 20px;
          position: relative;
          display: block; }
    .body-erp nav ul {
      display: inline-block;
      width: 100%;
      margin: 0 !important;
      padding: 0;
      margin-top: 20px !important;
      text-align: center; }
      .body-erp nav ul li {
        display: inline-block;
        width: 100%;
        padding: 15px 0; }
        .body-erp nav ul li a {
          text-decoration: none; }
        .body-erp nav ul li i {
          font-size: 22px;
          color: #BBBBC1; }
        .body-erp nav ul li.active a i, .body-erp nav ul li:hover a i {
          color: #DEB028; }

.title-moulded {
  display: inline-block;
  width: 100%;
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #28338A; }

.body-dashboard {
  display: inline-block;
  width: 100%;
  padding: 15px 0;
  padding-top: 0; }

.erp-moulded {
  background: white;
  border: 1px solid #E4E7EB;
  padding: 15px;
  position: relative;
  min-height: 75px;
  cursor: pointer;
  padding-left: 75px;
  margin-bottom: 20px;
  border-radius: 6px;
  padding-top: 22px; }
  .erp-moulded:hover {
    box-shadow: 0px 0px 5px rgba(155, 155, 155, 0.25);
    border: 1px solid #BBBBC1; }
  .erp-moulded a {
    display: inline-block;
    width: 100%; }
  .erp-moulded i {
    width: 55px;
    height: 55px;
    position: absolute;
    left: 10px;
    top: 9px;
    border-radius: 4px;
    font-size: 28px;
    color: white;
    background: #707393;
    text-align: center;
    padding-top: 6px; }
  .erp-moulded label {
    color: #1B1C31;
    display: inline-block;
    width: 100%;
    line-height: 29px; }

.erp-slideinfor {
  display: inline-block;
  width: 100%;
  height: 110px;
  text-align: center;
  margin-bottom: 20px;
  background: #28338A;
  padding-bottom: 80px; }
  .erp-slideinfor img {
    width: 100%;
    height: 110px;
    object-fit: cover; }
  .erp-slideinfor h1 {
    font-size: 32px;
    display: inline-block;
    width: 100%;
    padding: 20px 0 10px 0;
    color: white;
    margin-bottom: 0; }
  .erp-slideinfor p {
    font-size: 16px;
    display: inline-block;
    width: 100%;
    color: white;
    font-weight: normal; }

.body-erp-moulded {
  margin-bottom: 50px; }

/*# sourceMappingURL=style.css.map */
